@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Quicksand:300,400,700');
/*=============================================
=            Generique                        =
=============================================*/

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1, h2{
    color: #D0021B;
}

a.btn-primary {
    color: #FFF !important;
}

.btn {
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #D0021B;
    border-color: #D0021B;
}

.btn-primary:hover {
    background-color: #9B0013;
    border-color: #9B0013;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):focus {
    background-color: #52000A !important;
    border-color: #52000A !important;
}

.btn-add {
    border-radius: 0;
    margin-bottom: 0;
}

.btn-add .btn-icon {
    margin-right: 5px;
}


input, select {
    background: transparent !important;
    border-width: 2px !important;
    border-color: #9B9B9B !important;
    margin-bottom: 10px;
}

hr {
    margin-top: 0;
}

/* Diasble box-shadow on focus */
.btn-primary:focus,
.btn-primary.focus,
input {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.form-row {
    margin-bottom: 10px;
}

.badge-pill {
    padding: 10px;
    border: 2px solid #D0021B;
    color: #D0021B;
    margin-bottom: 10px;
}
/* Mathilde je pense que cette partie est générique */

.pp-user {
    height: 119px;
    width: 119px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 auto 10px;
    position: relative;
    text-align: center;
}

/*=============================================
=            Menu                             =
=============================================*/


.navbar a {
    color: #D0021B;
}

.navbar {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    background-color: #FFF;
    margin-bottom: 30px;
}

.nav-item {
    margin: 0 5px;
    font-family: 'Quicksand', sans-serif;
}

/*=====  End of Menu                   ======*/



/*=============================================
=            Login                            =
=============================================*/

#login {
    background-image: url('../img/bg-login.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
}

#login .card {
    height: 355px;
    width: 378px;
    background-color: rgba(255, 255, 255, 0.75) !important;
}

#login .container {
    height: 100%;
}

#login h1 {
    margin-top: 0.5rem;
}

#login a {
    color: #D0021B;
}

#login form {
    margin-left: 15px;
    margin-right: 15px;
}

/*=====  End of Login                  ======*/

/*=============================================
=            Create Team                      =
=============================================*/

#create-team{
    background-color: #EEE;
}

#create-team h1{
    margin: 15px 0;
}

#create-team .container {
    background-color: #FFF;
    padding: 15px;
    min-height: 727px;
}

.btn-random {
    margin-left: 20px;
    position: relative;
}

.btn-random:before {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    position: absolute;
    top: 0;
    left: -14px;
    background-color: #ccc;
}

/*.pp-user {
    height: 119px;
    width: 119px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 auto 10px;
    position: relative;
    text-align: center;
}*/

.user-scrum .pp-user:after{
content: "";
border-radius: 50%;
width: 100%;
height: 100%;
left: 0;
top: 0;
background-color: rgba(208, 2, 27, .5);
position: absolute;
}

.user-scrum .pp-user:before {
content: "S";
color: #fff;
position: absolute;
z-index: 999;
font-weight: 700;
font-size: 30px;
line-height: 119px;
left: 45%;
}

/*=====  End of Create-team                  ======*/

/*=============================================
=            User-list                        =
=============================================*/

#user-list .card {
    background-color: #FFF;
    margin: 20px 5px 0;
    min-height: 355px;
    max-height: 500px;
}

/*=====  End of User-list                  ======*/